*{
  padding:0;
  margin:0;
}

.icon{
  max-width: 100%;
  height: 200px;
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@font-face {
  font-family: "Quicksand";
  src:url('assets/font/Quicksand/static/Quicksand-Medium.ttf')
}

body{
  font-family: "Quicksand", sans-serif;
}

.bg-navbar{
  background-color: #344CB7;
}

.jumbotron {
  background-image: url('assets/img/coding.jpg');
  flex-direction: row;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  padding-top: 180px!important;
  padding-bottom: 180px!important;
}

.tulisan-mengetik{
  font-size: 1.25rem;
}

.picture{
  max-width: 100%;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 100%;
  background-size: cover;
  background-color: #333333;
}

.contact-content{
  margin-top: 50px;
}

#about,
#contact{
  padding-top: 200px!important;
  padding-bottom: 200px!important;
  font-size: 1em;
}

#skills
{
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  background-color: #eaeaea;
}

#projects{
    background-color: #f9f9f9f9;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.icon-whatsapp{
  font-size: 100px;
  color: #01e126;
}

.icon-facebook{
  font-size: 100px;
  color: #271ae9;
}

.icon-instagram{
  font-size: 100px;
  color: #dd0c75;
}

.icon-github{
  font-size: 100px;
  color: #000;
}

footer{
  background-color: #344CB7;
  padding: 30px;
  text-align: center;
}

footer small{
  color: #fff;
}

/* layar hp resolusi max 768 */

@media only screen and (max-width: 768px){

  .tulisan-mengetik{
    font-size: 1rem;
  }
}
